/target
/downloader/target
/core/target
/data_structures/target
/tools/target
/db/target
.vscode/
*.db
data.json
.DS_Store
logs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
.ruff_cache/
.cursor/
*.pyz
.venv/
.vercel
.pytest_cache
tmptest

