leancloud==3.0.1
fastapi==0.111.0
uvicorn==0.30.1
requests
PyMySQL==1.1.1
SQLAlchemy==2.0.31
lxml==5.2.2
pymongo==4.8.0
dnspython==2.6.1
aiohttp==3.9.5
Werkzeug==1.0.1
pydantic==2.7.4
PyYAML==6.0.1
PyNaCl==1.5.0
python-jose==3.3.0
passlib==1.7.4
argon2-cffi==23.1.0